
@{
    ViewBag.Title = "DevExteremeGridWithDDL";
}

<h2>DevExteremeGridWithDDL</h2>
<script src="~/Scripts/ControlsScript/DevExteremeGridWithDDL.js"></script>
<div class="dx-viewport demo-container">
    <div id="gridContainer"></div>
</div>
