
@{
    ViewBag.Title = "PaintChunkFileUpload";
}

<h2>Chunk FileUpload</h2>
<link href="~/Content/ControlStyles/ChunkFileUpload.css" rel="stylesheet" />
<script src="~/Scripts/ControlsScript/FileUpload/DevExtremeChunkFileUpload.js"></script>

<div class="dx-viewport demo-container">
    <div id="file-uploader"></div>
    <span class="note">Allowed file extensions: <span>.jpg, .jpeg, .gif, .png</span>.</span>
    <span class="note">Maximum file size: <span>4 MB.</span></span>
    <div class="chunk-panel"> </div>
</div>

