
@{
    ViewBag.Title = "PaintDataGridWithUpload";
}

<h2>PaintDataGridWithUpload</h2>

<script src="~/Scripts/ControlsScript/FileUpload/DevExtremeDataGridWithFileUpload.js"></script>
<div class="dx-viewport demo-container">
    <div id="gridContainer"></div>

</div>