
@{
    ViewBag.Title = "PaintFileUpload";
}

<h2>FileUpload</h2>
<link href="~/Content/ControlStyles/AsyncFileUpload.css" rel="stylesheet" />
<script src="~/Scripts/ControlsScript/FileUpload/DevExtremeAsyncFileUpload.js"></script>

<div class="dx-viewport demo-container">
    <div id="fileuploader">
        <div class="widget-container">
            <div id="file-uploader"></div>
            <div class="content" id="selected-files">
                <div>
                    <h4>Selected Files</h4>
                </div>
            </div>
        </div>
        <div class="options">
            <div class="caption">Options</div>
            <div class="option">
                <span>File types</span>
                <div id="accept-option"></div>
            </div>
            <div class="option">
                <span>Upload mode</span>
                <div id="upload-option"></div>
            </div>
            <div class="option">
                <div id="multiple-option"></div>
            </div>
        </div>
    </div>
</div>




