
@{
    ViewBag.Title = "PaintMultiSelectDropdownControls";
}

<h2>PaintMultiSelectDropdownControls</h2>
<script src="~/Scripts/ControlsScript/DevExtremeDropDownColumn.js"></script>
<div class="demo-container">
    <div id="form">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">DropDownBox with embedded DataGrid</div>
                <div class="dx-field-value">
                    <div id="gridBox"></div>
                </div>
            </div>
        </div>
    </div>
</div>